<<<<<<< HEAD
// Components
// ==========

@padding-base-vertical: 8px;
@padding-base-horizontal: 16px;

@padding-large-vertical: 12px;
@padding-large-horizontal: 20px;

@border-radius-base: 2px;
@border-radius-small: 2px;
=======
// Components
// ==========

@padding-base-vertical: 8px;
@padding-base-horizontal: 16px;

@padding-large-vertical: 12px;
@padding-large-horizontal: 20px;

@border-radius-base: 2px;
@border-radius-small: 2px;
>>>>>>> 4e13a94adad84840318116a68a20e256bca0f1de
@border-radius-large: 2px;