<<<<<<< HEAD
/**
 * Utilities
 */

/*** Square ***/

.square(@size) {
	width: @size;
	height: @size;
	line-height: @size;
	text-align: center;
}


/*** Margin bottom ***/

.mb_sm {
	margin-bottom: 5px;
=======
/**
 * Utilities
 */

/*** Square ***/

.square(@size) {
	width: @size;
	height: @size;
	line-height: @size;
	text-align: center;
}


/*** Margin bottom ***/

.mb_sm {
	margin-bottom: 5px;
>>>>>>> 4e13a94adad84840318116a68a20e256bca0f1de
}