
{% load staticfiles %}

<!DOCTYPE html>
<html>
  <head>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Life Helper</title>

    <!-- CSS Plugins -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/theme_red.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/plugins/perfect-scrollbar/css/perfect-scrollbar.min.css' %}">

    <!-- CSS Global -->
    <!--endbuild-->

  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" id="navbar_main">

          <!-- Navbar: Brand -->
          <a class="navbar-brand" href="/" style="padding-top:14px">
            <img style="width:120px;margin-left:20px" src="{% static 'images/LogoMakr.png' %}"></img>
          </a>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <main>
      <div class="container">
        {% block content %}
        {% endblock %}
      </div>

    </main>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- JS Plugins -->
    <script src="{% static 'assets/plugins/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js' %}"></script>

    <!-- JS Custom -->
    <!--build:js assets/js/theme.min.js -->
    <script src="{% static 'assets/js/theme.js' %}"></script>
    <!-- endbuild -->
    <!--build:js assets/js/kite.min.js -->
    <script src="{% static 'assets/js/kite.js' %}"></script>
    <!-- endbuild -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

  </body>
</html>
