{% extends 'base.html' %}

{% block content %}
<br>
<div class="row">
  <div class="col-xs-12 col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
      </div>
      <div class="panel-body">
        <div class="row">

          <div class="col-xs-12 col-lg-6">
            <h2 class="text" style="text-indent:10px">{{diet.name}}</h2>
            <hr>
              <p>{{diet.description}}</p>
          </div>

          <div class="col-xs-12 col-lg-6">
            <img src="{{diet.image}}" style="max-width:450px" class="img img-rounded center-block"></img>
          </div>

        </div>

      </div>
    </div>
  </div>
  <div class="col-xs-12 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Base Aliments
        </h3>
      </div>
      <div class="panel-body">
        <div class="dashboard__feed">
          {% for food in diet.foods %}
          <div class="dashboard-feed__item">
            {{food.0}}
            <small>{{food.1}}</small>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-lg-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Exercices
        </h3>
      </div>
      <div class="panel-body">
        <div class="dashboard__feed">
          {% for exercise in diet.exercises %}
          <div class="dashboard-feed__item">
            {{exercise.0}}
            <small>{{exercise.1}}</small>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-lg-12">

    <!-- Modals -->
    <div class="modal fade" id="modal_basic" tabindex="-1" role="dialog" aria-labelledby="modal_basic__heading">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal_basic__heading">Basic modal</h4>
          </div>
          <div class="modal-body">
            <p>
              <img src="assets/img/general_1.jpg" class="img-responsive" alt="...">
            </p>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate accusamus ea totam suscipit corporis fugiat, saepe quibusdam numquam odio explicabo facilis ullam iusto unde nulla sequi aut, laboriosam, dicta eos.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>
    <!-- <a role="button" href="#modal_basic" data-toggle="modal" class="btn btn-primary">Open basic modal</a>  -->
    <!-- Basic table -->
    <div class="panel panel-default">
      <div class="panel-heading">
      <h4 class="panel-title">Days</h4>
      </div>
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Breakfast</th>
              <th>Lunch</th>
              <th>Dinner</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            {% for day in diet.days %}
            <tr>
              <th scope="row">{{day.name}}</th>
              <td>{{day.breakfast}}</td>
              <td>{{day.lunch}}</td>
              <td>{{day.dinner}}</td>
              <td><a href="{{day.description}}">Finished</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div> <!-- / .table -->

  </div>
</div>

<nav class="clearfix text-center">
  <ul class="pagination pagination-md ">
    {% for dietid in dietsid %}
    <li class="{% if dietid == diet.id %} active {% endif %}"><a href="/diet/{{dietid}}">{{ forloop.counter }}</a></li>
    {% endfor %}
  </ul>
</nav>
{% endblock %}
