{% extends 'base.html' %}

{% block content %}

  <h3 class="page-header">
    Our Diets
  </h3>

  <!-- Ribbon: Left -->
  <div class="row">
    <div class="col-xs-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            Choose a diet to follow
          </h3>
        </div>
        <div class="panel-body">

          <div class="row">

            {% for diet in diets %}
            <div class="col-xs-12 col-sm-4">
              <div class="ribbon ribbon_primary">
                <div class="ribbon__title">
                  {{diet.name}}
                </div>
                <div class="ribbon__content">
                  {{diet.description}}
                </div>
              </div> <!-- / .ribbon__item -->
            </div>
            {% endfor %}

          </div> <!-- / .row -->

        </div>
      </div> <!-- / .panel -->

    </div>
  </div>
{% endblock %}
